<!-- Modal para el formulario de categorias -->
<div class="modal fade" id="categoriaModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Agregar categoria</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="cerrar()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <ul class="alert alert-danger" *ngIf="errores?.length>0">
          <li *ngFor="let error of errores">
            {{errores}}
          </li>
        </ul>
        <form method="POST">
          <div class="form-group">
            <label for="nombre">Nombre de la categoria:</label>
            <input type="text" class="form-control" name="nombre" [(ngModel)]="categoria.nombre"
              placeholder="Nombre de la categoria">
          </div>
          <div *ngIf="habilitar">
            <table class="table">
              <thead>
                <tr>
                  <th scope="col">Eliminar</th>
                  <th scope="col">Nombre</th>
                  <th scope="col">Editar</th>
                  <th scope="col">Cancelar</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let categoria of categorias; let i = index">
                  <th scope="row"><button class="btn btn-danger" (click)="eliminarCategoria(categoria)">X</button></th>
                  <td *ngIf="categoria.id != idSeleccionado">{{categoria.nombre}}</td>
                  <td *ngIf="categoria.id == idSeleccionado">  
                      <input type="text" class="form-control" [(ngModel)]="categoria.nombre" name="nombre" placeholder="{{categoria.nombre}}" >
                  </td>
                  <td>
                    <div style="float: right;" *ngIf="categoria.id != idSeleccionado">
                      <button class="btn btn-warning" (click)="seleccionarCategoria(categoria.id)">Editar</button>
                    </div>
                    <div style="float: right;" *ngIf="categoria.id == idSeleccionado">
                      <button class="btn btn-primary"(click)="editarCategoria(categoria)">Guardar</button>
                  </div>
                  </td>
                  <td>
                    <div style="float: right; padding-left: 0.5rem;">
                      <button class="btn btn-secondary" (click)="cancelarEdicion()">Cancelar</button></div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="cerrar()">Cerra</button>
            <button type="submit" class="btn btn-primary" (click)="crearCategoria()">Guardar</button>
            <button type="submit" class="btn btn-success" *ngIf="!categorias"
              (click)="ListarCategorias()">{{getButtonValue()}}</button>
            <button type="submit" class="btn btn-success" *ngIf="categorias"
              (click)="ocultarListaCategoria()">{{getButtonValue()}}</button>
          </div>
        </form>

      </div>
    </div>
  </div>
</div>