<div class="container lead">
<footer class="pt-4 my-md-5 pt-md-5 border-top text-center">
    <div class="row">
        <div class="col-6 col-md titulo">
          <strong>Redes sociales</strong>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Twiter</a></li>
            <li><a class="text-muted" href="#">Facebook</a></li> 
            <li><a class="text-muted" href="#">Instagram</a></li>         
          </ul>
        </div>
        <div class="col-6 col-md titulo">
          <strong>Nosotros</strong>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Equipo</a></li>
            <li><a class="text-muted" href="#">Envios</a></li>
            <li><a class="text-muted" href="#">Seguridad</a></li>
            <li><a class="text-muted" href="#">Localización</a></li>
          </ul>
        </div>
        <div class="col-6 col-md titulo">
          <strong>Ayuda</strong>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Comprar</a></li>
            <li><a class="text-muted" href="#">Resolución de problemas</a></li>
            <li><a class="text-muted" href="#">Preguntas frecuentes</a></li>
          </ul>
        </div>
        <div class="col-6 col-md titulo">
          <strong>Mi cuenta</strong>
          <ul class="list-unstyled text-small">
            <li><a class="text-muted" href="#">Resumen</a></li>
            <li><a class="text-muted" href="#">Favoritos</a></li>
          </ul>
        </div>
      </div>
</footer>
</div>