.descripcion {
  width: 270px;
  text-overflow: clip;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.disabled{
  pointer-events: none;
}

.img-tamanio {
  width: 200px; height: 200px;
}

.sombra:hover  {
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.50);
}