.nav-color {
  background-color: rgba(0, 0, 0, 0.85);
}
li > a {
  color: azure;
}
.marca {
  color: azure;
}
.item:hover {
  color: black !important;
}
.icon {
  margin: 0px 0px 0px 0px; /*top,rigth,buttom,left*/
}

.icon-number{
  color: azure;
  margin-right: 15px;
  
}
