<div class="container mt-4 lead main">
  <form method="POST" #formCliente="ngForm">
    <div class="form-row">
      <!--Input nombre-->
      <div class="form-group col-md-4">
        <label for="nombre">Nombre*</label>
        <input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="cliente.nombre" required>
        <div class="alert alert-danger my-2" *ngIf="nombre.invalid && (nombre.dirty || nombre.touched)">
          <small class="form-text" *ngIf="nombre.errors.required">Aqui ira el error</small>
        </div>
      </div>
      <!--Input apellido paterno-->
      <div class="form-group col-md-4">
        <label for="apellidoPaterno">Apellido Paterno*</label>
        <input type="text" class="form-control" #apellidoPaterno="ngModel" name="apellidoPaterno"
          [(ngModel)]="cliente.apellidoPaterno">
        <div class="alert alert-danger my-2"
          *ngIf="apellidoPaterno.invalid && (apellidoPaterno.dirty || apellidoPaterno.touched)">
          <small class="form-text" *ngIf="apellidoPaterno.errors.required">Aqui ira el error</small>
        </div>
      </div>
      <!--Input apellido materno-->
      <div class="form-group col-md-4">
        <label for="apellidoMaterno">Apellido Materno</label>
        <input type="text" class="form-control" #apellidoMaterno="ngModel" name="apellidoMaterno"
          [(ngModel)]="cliente.apellidoMaterno">
        <div class="alert alert-danger my-2"
          *ngIf="apellidoMaterno.invalid && (apellidoMaterno.dirty || apellidoMaterno.touched)">
          <small class="form-text" *ngIf="apellidoMaterno.errors.required">Aqui ira el error</small>
        </div>
      </div>
      <!--Input telefono-->
      <div class="form-group col-md-4">
        <label for="telefono">Telefono*</label>
        <input type="text" class="form-control" #telefono="ngModel" name="telefono" [(ngModel)]="cliente.telefono">
        <div class="alert alert-danger my-2" *ngIf="telefono.invalid && (telefono.dirty || telefono.touched)">
          <small class="form-text" *ngIf="telefono.errors.required">Aqui ira el error</small>
        </div>
      </div>
    
     
      <!--Seccion de direccion-->

      <!--<div class="form-group">
      <label for="password1">Password</label>
      <input type="password" class="form-control" id="password1">
    </div>-->
    </div>
    <button type="submit" (click)="crearClientes()" class="btn btn-outline-primary btn-block">Submit</button>
  </form>
</div>