<!--Pila de errores-->
<ul class="alert alert-danger" *ngIf="errores?.length>0">
  <li *ngFor="let error of errores">{{error}}</li>
</ul>

<!--Input nombre-->
<div class="form-group mb-2">
<input type="text" class="form-control" #nombre="ngModel" name="nombre" [(ngModel)]="cliente.nombre" required placeholder="nombre*">
</div>

<!--Input apellido-->
<div class="form-group mb-2">
<input type="text" class="form-control" name="apellido" [(ngModel)]="cliente.apellido" placeholder="apellido*">
</div>
<!--Input telefono-->
<div class="form-group mb-2">
<input type="text" class="form-control" #telefono="ngModel" name="telefono" [(ngModel)]="cliente.telefono" required placeholder="No. de celular*">
</div>
<!--Input usuario-->
<div class="form-group mb-2">
<input type="text" class="form-control" #username="ngModel" name="username" [(ngModel)]="cliente.username" required placeholder="nombre de usuario*">
</div>
<!--Input email-->
<div class="form-group mb-2">
<input type="email" class="form-control" #email="ngModel" name="email" [(ngModel)]="cliente.email" required placeholder="email*">
</div>
<!--Input contraseña-->
<div class="form-group mb-2">
<input type="password" #password="ngModel" [(ngModel)]="cliente.password" name="password" class="form-control" required placeholder="password*">
</div>
<!--Input confirmar contraseña-->
<div class="form-group mb-2">
<input type="password" #confirmPasword="ngModel" [(ngModel)]="cliente.confirmPasword" name="confirmPasword"
  class="form-control" required placeholder="confirmar password">
</div>


 <button type="submit" (click)="crearClientes()" class="btn btn-outline-primary btn-block"><i class="fas fa-user-plus"></i> Registrarse</button>