<div class="container">
  <div class="py-5 text-center">
    <h2>{{producto.nombre | uppercase}}</h2>
  </div>
  <!--Seccion del detalle del producto-->
  <div class="row">
    <div class="col-md-4 order-md-2 mb-4">
      <h4 class="d-flex justify-content-center align-items-center mb-3">
        <span class="text-muted">Detalles del producto</span>
      </h4>
      <ul class="list-group mb-3">
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0 ">Nombre del producto</h6>
          </div>
          <span class="text-muted">{{producto.nombre}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Precio del producto</h6>
          </div>
          <span class="text-muted">{{producto.precio | currency}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Stock</h6>
          </div>
          <span class="text-muted">{{producto.stock}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Categoría</h6>
          </div>
          <span class="text-muted">{{producto.categoria.nombre}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Cantidad</h6>
          </div>
          <div>
            <input type="number" (change)="actualizarCantidad($event)"
            class="form-control" [value]="1" name="cantidad"  min="1" [max]="producto.stock"
              required>
          </div>
        </li>
        <li class="list-group-item d-flex justify-content-between lh-condensed">
          <div>
            <h6 class="my-0">Precio del envió</h6>
          </div>
          <span class="text-muted">$5</span>
        </li>
        <li class="list-group-item d-flex justify-content-between text-success">
          <span>Total (MX)</span>
          <strong *ngIf="total">{{total | currency}}</strong>
          <strong *ngIf="!total">{{producto.precio | currency}}</strong>

        </li>
      </ul>
      <button class="w-100 btn btn-primary btn-lg" type="submit" (click)="generarPedido(producto)">Comprar</button>
    </div>
    <!--Seccion del carrusel de las imagenes-->
    <div class="col-2">
      <ul class="list-group list-group-flush">
        <li *ngIf="producto.img1" class="list-group-item" style="cursor: pointer;"><img
            (click)="seleccionarImg(producto.img1)" src="http://localhost:8080/api/uploads/img/{{producto.img1}}"
            style="max-width: 50%;" class="rounded mx-auto d-block" alt="{{producto.img1}}"></li>
        <li *ngIf="producto.img2" class="list-group-item" style="cursor: pointer;"><img
            (click)="seleccionarImg(producto.img2)" src="http://localhost:8080/api/uploads/img/{{producto.img2}}"
            style="max-width: 50%;" class="rounded mx-auto d-block" alt="..."></li>
        <li *ngIf="producto.img3" class="list-group-item" style="cursor: pointer;"><img
            (click)="seleccionarImg(producto.img3)" src="http://localhost:8080/api/uploads/img/{{producto.img3}}"
            style="max-width: 50%;" class="rounded mx-auto d-block" alt="..."></li>
        <li *ngIf="producto.img4" class="list-group-item" style="cursor: pointer;"><img
            (click)="seleccionarImg(producto.img4)" src="http://localhost:8080/api/uploads/img/{{producto.img4}}"
            style="max-width: 50%;" class="rounded mx-auto d-block" alt="..."></li>
        <li *ngIf="producto.img5" class="list-group-item" style="cursor: pointer;"><img
            (click)="seleccionarImg(producto.img5)" src="http://localhost:8080/api/uploads/img/{{producto.img5}}"
            style="max-width: 50%;" class="rounded mx-auto d-block" alt="..."></li>
      </ul>
    </div>
    <!--Seccion de la vista de las imagenes-->
    <div class="col">
      <img *ngIf="imagen" src="http://localhost:8080/api/uploads/img/{{imagen}}" class="rounded mx-auto d-block"
        style="max-width: 80%;" alt="...">
      <img *ngIf="!imagen" src="http://localhost:8080/api/uploads/img/{{producto.img1}}" class="rounded mx-auto d-block"
        style="max-width: 80%;" alt="...">
    </div>
  </div>
</div>
<hr>
<!--Seccion de la descripcion-->
<div class="container ">
  <h3>Descripción</h3>
  <div class="row" style="margin:1rem">
    <textarea class="lead main" disabled style="height: 20em;">{{producto.descripcion}}</textarea>
  </div>
  <hr>
  <!--Seccion de las caracteristicas-->
  <h3>Caracteristicas</h3>
  <div class="row" style="margin:1rem">
    <textarea class="lead main" disabled style="height: 20em; ">{{producto.caracteristicas}}</textarea>
  </div>
</div>